:root {
    --col-blue: rgb(49, 114, 184);
    --col-white: rgb(248, 249, 250);
    --col-orange: rgb(237, 100, 36);
    --col-yellow: rgb(248, 195, 16);
    --col-grey: rgb(108, 110, 112);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: none;
}

body {
    background-color: var(--col-blue);
}

    nav {
        height: 75px;
        width: 100%;
        z-index: 2;
    }

        .nav-item {
            background-color: var(--col-white);
        }

        .nav-link:hover {
            color: var(--col-orange);
        }

        .dropdown-menu {
            background-color: var(--col-white);
        }
            .dropdown-item:hover {
                color: var(--col-orange);
            }

        .nav-link {
            color: var(--col-grey) !important;
        }

    
        .happening-now {
            display: flex;
            flex-direction: row;
            height: calc(100vh - 195px);
            width: 100%;
            padding: 0 5%;

            background: url(../images/bg_happening-now.png);
            background-position: center;
        }
        
        .description {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 5px 5px;

            align-self: center;

            height: max-content;
            width: 50vw;
    
            color: var(--col-orange);
        }

                .description h1 {
                    font-size: 40px;
                }

                .explanation {
                    padding-top: 2%;

                }

        .img-containers {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            
            height: 400px;
            width: 60vw;

            margin: 5px 5px;
        }

            .set1 {
                height: 50%;
                width: 100%;
                display: flex;
                align-items: stretch;


                overflow: hidden;
            }

            .set2 {
                height: 50%;

                display: flex;
                flex-direction: row;
            
                overflow: hidden;
            } 

            .container {
                position: relative;

            }


            .image {
                width: 100%;
                object-position: center;
                object-fit: fill;
                opacity: 1;
                transition: .5s ease;
                backface-visibility: hidden;
            }

            .image3 {
                width: 100%;
                opacity: 1;
                transition: .5s ease;
                backface-visibility: hidden;
            }
            
            .middle {
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%)
            }
            
            .container:hover .image {
                opacity: 0.3;
            }

            .container:hover .image3 {
                opacity: 0.3;
            }
            
            .container:hover .middle {
                opacity: 1;
            }
            
            .text {
                background-color: var(--col-orange);
                color: white;
                font-size: 16px;
                padding: 16px 32px;
            }

footer {
    font-size: 12px;

    color: var(--col-white);
}

    .footer-mid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;

        text-decoration: none;

    }

    .footer-mid div {
        margin: 0 10px;
    }

        .footer-mid h4 {
            font-size: xx-small;
            text-transform: uppercase;
        }

        .footer-mid ul {
            padding-inline-start: 0;
            writing-mode: horizontal-tb;
            direction: ltr;
            
        }

            .footer-mid li {
                list-style-type: none;
            }

            .footer-mid span {
                font-style: italic;
            }

            .footer-mid a {
                color: var(--col-white);

                text-decoration: none;
            }


    .footer-bottom {
        text-align: center;
        margin-bottom: 5px;
    }

        .fa-brands {
            color: var(--col-white);
        }

@media screen and (max-width:1446px) {
    .description h1 {
        font-size: 45px;
    }

    .img-containers {
    align-items: baseline;
    }

    .set1 {
        align-items: stretch;
    }


}
@media screen and (max-width:768px) {

    .nav-item {
        font-size: small;
    }

    .dropdown-item {
        font-size: small;
    }

    .happening-now {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    .description {
        padding-top: 15px;
        width: 70vw;
    }

    .description h1 {
        font-size: 20px;
        width: 100%;
    }

    .explanation {
        font-size: 12px;
        width: 100%;

    }

    .img-containers {
        height: 300px;
        margin-bottom: 0px;
    }

    .set1 {
        align-items: baseline;
    }

    .text {
        font-size: 9px;
        padding: 4px 8px;
    }

    /* Footer */
        .footer-mid {
            font-size: 10px;
        }

        .footer-bottom {
            font-size: 10px;
        }
}
@media screen and (max-width:425px) {
    .nav-item {
        font-size: x-small;
    }

    .dropdown-item {
        font-size: x-small;
    }

    .happening-now {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .description {
        width: 70vw;
    }

    .description h1 {
        font-size: 17px;
        width: 100%;
    }

    .explanation {
        font-size: 10px;
        width: 100%;

    }

    .img-containers {
        height: 200px;
        margin-bottom: 0px;
    }
    .set1 {
        height: 60px;
        align-items: baseline;
    }

    .text {
        font-size: 8px;
        padding: 4px 8px;
    }

     /* Footer */
        .footer-mid {
            font-size: 7px;
        }

        .footer-mid span {
            font-size: 7px;
        }

        .footer-bottom {
            font-size: 7px;
        }
}