:root {
    --col-blue: rgb(49, 114, 184);
    --col-white: rgb(248, 249, 250);
    --col-orange: rgb(237, 100, 36);
    --col-yellow: rgb(248, 195, 16);
    --col-grey: rgb(108, 110, 112);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: none;
}

body {
     background-color: var(--col-grey);
}

    nav {
        height: 65px;
        width: 100%;
        padding: 0;
        position: fixed !important;
    }
        .navbar {
            --bs-navbar-padding-y: 0;
            --bs-navbar-hover-color: rgba(var(--col-orange) , 0.8);
        }

        .nav-item {
            background-color: var(--col-white);
        }

  
        .nav-link.active {
            font-weight: bold;
        }

        .nav-link:hover {
            font-weight: bold;
            border: 2px solid var(--col-grey);
            background-color: var(--col-yellow);
            transition: .5s ease;
        }

        .dropdown-menu {
            background-color: var(--col-white);
            
            width: max-content;
        }
            .btn-group:hover .dropdown-menu {
                margin-top: 40px;
                position: absolute;
                display: block;
                transition: ease-in-out 0.5;
            }

            .dropdown-item:hover {
                color: var(--col-grey);
                background-color: var(--col-yellow);
            }


        .nav-link {
            color: var(--col-grey) !important;
        }

        main {
            display: block;
            height: 100vh;

            background: url(../images/bg_happening-now.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left;
            background-color: var(--col-blue);
        }

        .upcoming-events {
            height: 70vh;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
    
            color: var(--col-white);

            text-align: center;
            align-items: center;
            align-content: center;
        }

                .ue-title {
                    margin-top: 75px;
                    color: var(--col-grey);
                    font-size: 75px;
                    font-style: italic;
                    text-shadow: 0px 5px 10px rgba(241, 241, 241, 0.536);

                }

            .events {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }

                .event {
                    height: 200px;
                    width: 300px; 
                    margin: 15px 5px;
                    border: none;
                }

                    .event:hover {
                        height: 250px;
                        width: 350px;
                        margin: 0px 5px;
                        transition: .5s ease;
                    }
                    
                    .description {
                        display: flex;
                        flex-direction: column;
                        font-size: medium;
                        font-weight: bold;
                        font-variant-caps: all-small-caps;
                        color: var(--col-grey);
                    }
                        .month {
                            font-weight: normal;
                            font-style: italic;
                            color: var(--col-grey);
                            text-shadow: none;
                        }

                    .img-container {
                        height: 85%;
                        width: 100%;

                        overflow: hidden;
                    }

                        .img {
                            height: inherit;
                            width: 100%;

                            object-position: bottom;
                        }

                            .horizontal {
                                height: 100%;
                            }

            .modal-title {
                color: var(--col-grey);
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
            }

            .update-me {
                margin-top: 25px;
                height: 30vh;
                color: var(--col-grey);

                /* background-color: aquamarine; */
            }
                .notif-form {
                    display: flex;
                    flex-direction: column;
                    align-self: baseline;
                    align-items: center;
                }
                    .question {
                        font-weight: bold;
                        font-variant-caps: all-small-caps;
                    }

                    .emailAddress {
                        width: 290px;
                        padding: 8px 8px;
                        margin-bottom: 15px;
                        border: 2px solid var(--col-grey); 
                    }


                    .update-me-btn {
                        padding: 16px 48px;
                        color: var(--col-grey);
                        font-variant-caps: all-small-caps;
                        font-weight: bolder;
                        text-decoration: none;
                        border: 3px solid var(--col-yellow);
                    }
                        .update-me-btn:hover {
                            background-color: var(--col-yellow);
                            color: var(--col-white);
                            transition: .5s ease;
                        }

            

    footer {
        font-size: 12px;

        color: var(--col-white);
    }

        .footer-mid {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;

            text-decoration: none;

        }

        .footer-mid div {
            margin: 0 10px;
        }

            .footer-mid h4 {
                font-size: xx-small;
                text-transform: uppercase;
            }

            .footer-mid ul {
                padding-inline-start: 0;
                writing-mode: horizontal-tb;
                direction: ltr;
                
            }

                .footer-mid li {
                    list-style-type: none;
                }

                    .footer-mid li:hover {
                        text-decoration: underline;
                        text-decoration-color: var(--col-white);
                    }

                .footer-mid span {
                    font-style: italic;
                }

                .footer-mid a {
                    color: var(--col-white);

                    text-decoration: none;

                }


            .footer-bottom {
                display: flex;
                justify-content: flex-end;
                text-align: left;
                margin: 5px 10px;
            }
        
                .fa-brands {
                    color: var(--col-white);
                    margin: 0px 7px
                }

@media only screen and  (max-width:1024px) {
    main {
        height: 125vh;
    }

/* 
    .event {
        height: 150px;
        width: 250px;
        margin: 15px 5px;
    }

        .event:hover {
            height: 150px;
            width: 250px;
        }
} */
    
}
@media only screen and (max-width:768px) {
    .nav-item {
        font-size: small;
    }

    .dropdown-item {
        font-size: small;
    }

    main {
        height: 100vh;
    }

        .upcoming-events {
            align-content: center;
        }

    /* Footer */
        .footer-mid {
            font-size: 10px;
        }

        .footer-bottom {
            font-size: 10px;
        }

}

@media only screen and (max-width:425px) {

    .nav-item {
        font-size: x-small;
    }

    .dropdown-item {
        font-size: x-small;
    }

    main {
        height: 200vh;
    }

        .upcoming-events {
            align-content: center;
            height: 135vh;
        }

        .event-type {
            height: 123vh;
        }

        .event {
            height: 200px;
            width: 300px;
        }

            .ue-title {
                font-size: xx-large;
                font-weight: bold;
            }

                .description {
                    font-size: small;
                }
                    .month {
                        font-size: small;
                    }

        .update-me {
            margin-top: 250px;
        }
        
     /* Footer */
        .footer-mid {
            font-size: 7px;
        }

        .footer-mid span {
            font-size: 7px;
        }

        .footer-bottom {
            font-size: 7px;
        }
}